mlflow
langchain
langchain-core
langchain-huggingface
huggingface_hub
langchain-qdrant
dotenv
transformers
langchain-community
pymupdf
qdrant-client
torch
sentence-transformers
langchain-groq
langchain-ollama
numpy
pandas
tqdm
matplotlib
